.skeleton {
    background-color: rgb(240, 240, 240);
}

.skeleton__dark {
    background-color: #17171A;
}

.skeleton.title, .skeleton__dark.title {
    height: 38px;
    width: 700px;
    margin: 12px auto;
    border-radius: 12px;
}

.skeleton.subtitle, .skeleton__dark.subtitle {
    height: 27px;
    width: 500px;
    margin: 0 auto;
    border-radius: 10px;
}

.skeleton.filter__plate, .skeleton__dark.filter__plate {
    height: 30px;
    width: 120px;
    border-radius: 8px;
}

.skeleton.shorted__plate, .skeleton__dark.shorted__plate {
    height: 30px;
    width: 50px;
    border-radius: 8px;
}

.skeleton.content__plate, .skeleton__dark.content__plate {
    height: 75px;
    border-radius: 20px;
    margin: 12px 0;
}


.skeleton.trending__coin, .skeleton__dark.trending__coin {
    height: 15px;
    border-radius: 8px;
    margin: 5px 0;
}


@media screen and (max-width: 992px) {
    .skeleton.title, .skeleton__dark.title {
        height: 25px;
        width: 450px;
        margin: 8px auto;
        border-radius: 10px;
    }

    .skeleton.skeleton.subtitle, .skeleton__dark.skeleton__dark.subtitle {
        height: 17px;
        width: 300px;
        border-radius: 8px;
    }
}

@media screen and (max-width: 520px) {
    .skeleton.title, .skeleton__dark.title {
        height: 15px;
        width: 240px;
        margin: 6px auto;
        border-radius: 8px;
    }

    .skeleton.skeleton.subtitle, .skeleton__dark.skeleton__dark.subtitle {
        height: 12px;
        width: 150px;
        border-radius: 6px;
    }

    .skeleton.content__plate, .skeleton__dark.skeleton.content__plate {
        height: 50px;
        border-radius: 20px;
        margin: 12px 0;
    }
}